load_dotenv
selenium
bs4
chromedriver_binary
pandas
pymysql
cryptography
streamlit
langchain-groq
pymongo
toml
tiktoken
langchain-core 
langgraph>0.2.27
langchain-groq
langchain-huggingface
faiss-cpu
boto3
rank_bm25